*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-list ul li i{
    color: #0463FA;
}
.l-right{
    display: flex;
}
.h-btns i{
    font-size: 20px;
    color: #0463FA;
    background: whitesmoke;
    padding: 5px;
    border-radius: 50px;
    cursor:pointer;
}

/*------------MENU------------*/

.container-fluid ul li a{
    color: black;
    font-size: 17px;
    padding: 20px;
}
.appoint{
    list-style: none;
    background: #0463FA; 
    text-align: center; 
}
.appoint li a{
    color: white;
}
.appoint li a:hover{
    color: white;
    cursor: pointer;
}

/*--------------------- PART TWO ------------------------*/

.two{
    background: url(img/doctors.jpg) rgba(0, 0, 0, 0.77);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;    
    }
.content{
    color: white;
    text-align: left;
    justify-content: left;
    padding: 11rem 0 0 5rem;
}  
.content p a{
    color: white;
    text-decoration: none;
}  

/*-----------------------------PART THREE----------------------------------*/

.container{
    margin: 5rem 0 3rem 0;
}
.form{
    margin:3rem 0 0 0;
}
.inputgroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.inputgroup textarea{
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: #0463FA;
}
.inputgroup button{
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0463FA;
    color: white;
    border-color: #0463FA; 
}
.inputgroup input{
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    border-color:#0463FA;
}
.map iframe{
    width:100%;
    height: 85vh;
    border-radius: 10px;
}

/*---------------------------- LAST PART ----------------------------------------*/

.last{
    background-color: #1B2C51;;
    color: whitesmoke;
    margin-top: 5rem;
    padding: 5rem 0 5rem 0;
}

.address p i{
    font-size: 20px;
}
.service p a{
    color: white;
    text-decoration: none;
}
.links p a{
    color: #e8edf5;
    text-decoration: none;
}